.block1 h2{
    background-color: white;
    color: #d63031;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}

.block1{
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.info{
    align-items: center;
    text-align: center;
    font-size: larger;
    padding: 0 80px;
}

.info u{
    background-color: yellow;
    color: #d63031;
}

.heading{
    color: #d63031;
    font-size: larger;
    font-weight: bold;
}

.container{
    display: flex;
    align-items:center;
    padding: 10px;
    margin-top: 30px;
}

.video_container{
    margin: 2px;
    margin-left: 300px;
    
}

.unordered_list{
    
    list-style-type: armenian;
    padding: 0px 20px;
}
.item-img{
    width: 350px;
}

