<<< main
.container{
    height: 450px;
    width: 800px;
    background-color:rgb(251, 247, 247);
    text-align: center;
    margin-left: 350px;
    border: rgb(239, 175, 175) solid;
    border-radius: 40px;
    }
    a{
      background-color: rgb(205, 148, 148);
      color: rgb(230, 29, 29);
    }
    input, select {
        
        height: 25px;
        width: 170px; 
        background-color:  #fff2e6;
        border-radius: 5px; 
    }
    h5{
    margin-left:50px;
    }
    h2{
    text-align: center;
    color: red;
    background-color: black;
    border-radius: 5px;
    }
  h3{
    color: red;
    margin-left: 60px;
    }
    img{
    max-width: 60px;
    background-color:#fff2e6;
    border-radius: 5px;
    }
    span{
    margin-right: 140px;
    
    }
    .btn {
    background-color: red;
    color: rgb(27, 25, 25);
    border: 2px solid dashed;
    border-radius: 10px;
    height: 30px;
    width: 170px;
    }
    .btn:hover {
    background-color: aquamarine;
    color: black;
    }
=======
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d63031;
    color: white;
    padding: 10px 20px;
    
}

.logo{
    
    padding: 10px;
}

.navitem a {
    
    margin: 0 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

.navitem a:hover{
    color: #ffeaa7;
}

.btn{
    border: none;
    background-color: #d63031;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.btn:hover{
    color: #ffeaa7;
    box-shadow: 0 0 10px 0 gray;
}


.bg_ws{
    background-color: whitesmoke;
}




.navsubitem a {
    
    margin: 0 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navsubitem a:hover{
    color: #d63031;
}


.subnavbar {
    display: flex; 
    justify-content: space-around;
    background-color: whitesmoke;
    color: white;
    padding: 10px 20px;
    
}



.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }







>>>> main
